<!--The content below is only a placeholder and can be replaced.-->
<igx-navbar title="LINE Rich Menu Manager">
    <igx-icon name="add" (click)="newRichMenu()"></igx-icon>
    <igx-icon name="refresh" (click)="loadRichMenu(null)"></igx-icon>
    <igx-icon name="search" (click)="input.style.display='block'"></igx-icon>
    <input #input type="text" [(ngModel)]="userId" placeholder="Enter UserId and press 'Enter' key" (keydown)="searchRichMenuForUserId($event)">    
    <igx-icon name="settings" (click)="openSettings()"></igx-icon>
</igx-navbar>

<app-richmenulist class="col-md-2" [displayList]="displayList" [(selectedRichMenu)]="selectedRichMenu" (emitAuthenticationError)="emitAuthenticationError($event)">
</app-richmenulist>
<app-richmenudetail class="col-md-10" [richMenu]="selectedRichMenu" (richMenuDeleted)="loadRichMenu(null)" (richMenuDefaultSet)="loadRichMenu(null)"></app-richmenudetail>
<app-richmenueditor class="col-md-12" [displayNew]="displayNew" (emitClose)="loadRichMenu(null)"></app-richmenueditor>

<igx-dialog #settings title="SignIn" leftButtonLabel="OK" (onLeftButtonSelect)="closeSettings()">
    <div class="igx-form-group" >
        <input igxInput type="password" [(ngModel)]="token" required />
        <label igxLabel>Channel Access Token</label>
    </div>
</igx-dialog>

<igx-dialog #alert title="Authentication Failed" message="Please check your access token" leftButtonLabel="OK" (onLeftButtonSelect)="alert.close()">
</igx-dialog>