<div *ngIf="richMenu!=null">
  <div class="col-md-5">
    <div class="igx-form-group">
      <input type="text" igxInput [(ngModel)]="richMenu.richMenuId" readonly />
      <label igxLabel>RichMenu Id</label>
    </div>
    <div class="igx-form-group">
      <input type="text" igxInput [(ngModel)]="richMenu.name" readonly/>
      <label igxLabel>Name</label>
    </div>
    <div class="igx-form-group">
      <input type="text" igxInput [(ngModel)]="richMenu.chatBarText" readonly />
      <label igxLabel>Chat Bar Text</label>
    </div>
    <div #imgdiv style="width:100%">
      <canvas #canvas width="500px" height="0px"></canvas>
      <img style="display:none" #img (load)="checkImage()">
    </div>
    <div>
      <button igxButton="raised" (click)="delete()">Delete Rich Menu</button>
      <button igxButton="raised" (click)="linkToUser()">Link to User</button>
      <button igxButton="raised" (click)="unlinkToUser()">Unlink from User</button>
    </div>
  </div>
  <div class="col-md-7 areas">
    <igx-list>
      <igx-list-item [isHeader]="true">
        <h5>Areas</h5>
      </igx-list-item>
      <igx-list-item *ngFor="let area of richMenu.areas; let i = index;">
        <div class="item">
          <div igxLayout igxLayoutDir="row">
            <div class="index">{{i + 1}} </div>
            <div class="igx-form-group type" igxFlex>
              <input type="text" igxInput [(ngModel)]="area.action.type" readonly />
              <label igxLabel>type</label>
            </div>
            <div class="igx-form-group" igxFlex>
              <input type="text" igxInput [(ngModel)]="area.action.label" readonly />
              <label igxLabel>label</label>
            </div>
            <div class="igx-form-group" *ngIf="area.action.type === 'message'" igxFlex>
              <input type="text" igxInput [(ngModel)]="area.action.text" readonly />
              <label igxLabel>text</label>
            </div>
            <div class="igx-form-group" *ngIf="area.action.type === 'uri'" igxFlex>
              <input type="text" igxInput [(ngModel)]="area.action.uri" readonly />
              <label igxLabel>uri</label>
            </div>
            <div class="igx-form-group" *ngIf="area.action.type === 'postback'" igxFlex>
              <input type="text" *ngIf="area.action.displayText == null" igxInput value=" " readonly />
              <input type="text" *ngIf="area.action.displayText != null" igxInput [(ngModel)]="area.action.displayText" readonly />
              <label igxLabel>displayText</label>
            </div>
            <div class="igx-form-group" *ngIf="area.action.type === 'postback'" igxFlex>
              <input type="text" *ngIf="area.action.text == null" igxInput value=" " readonly/>
              <input type="text" *ngIf="area.action.text != null" igxInput [(ngModel)]="area.action.text" readonly />
              <label igxLabel>text</label>
            </div>
            <div class="igx-form-group" *ngIf="area.action.type === 'postback'" igxFlex>
              <input type="text" igxInput [(ngModel)]="area.action.data" readonly />
              <label igxLabel>data</label>
            </div>
          </div>
        </div>
      </igx-list-item>
    </igx-list>
  </div>
</div>

<igx-dialog #settings title="User Id" leftButtonLabel="OK" (onLeftButtonSelect)="linkRichMenu()" rightButtonLabel="Cancel"
  (onRightButtonSelect)="settings.close()">
  <div class="igx-form-group">
    <input igxInput type="text" [(ngModel)]="userId" />
    <label igxLabel>User Id</label>
  </div>
</igx-dialog>